ol {
    color: blue;
}
ul {
    color: orange;
}
#bestrappersdiv {
    color: hotpink;
    background-color: lightgreen;
}
#Xxxtentacionfoundation {
    font-size: 2.5em;
}
.nbapredictions {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.article {
    margin-left: 25%;
    margin-right: 25%;
}
.data-table {
    font-size: 0.95em;
}
.article-title {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-size: 3.7em;
    margin-top: 15%;
}
.article-buttons {
    margin-top: 2%;
    margin-bottom: 2%;
}
